html {
    position: relative;
    min-height: 100%;
}

body {
    margin-bottom: 5em; /* Margin bottom by footer height */
}

.site-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 4em;
    line-height: 4em;
}